body{
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;

    
}

#upgrades
{
    background-color: rgba(255, 255, 255, 0.5);
    border-color:white ;
    border-width:4px;
    border-radius: 15px;
    border-style:double;
    height: 300px;
}

#header{
    color: white;
    font-size:60px;
}

#score{
    color: black;
    font-size: 55px;
    border-style: outset;
    width: 150px;
    height: 80px;
    border-color: black;
    background-color: white;
    border-radius: 20px;
    border-width: 5px;

}
.pointbtn
{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: white;
    border-width: 4px;

}

.pointsperclick{
    color: white;
    font-size: 30px;
}

.dropdown
{
    position: relative;
    display: inline-block;
    padding-right: 0px;
}

.dropbtn {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-image:url("Settings-icon.png");
    background-size:cover;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 40px;
    border-radius: 5px;
}
.dropdown-content button
{
    background-color: white;
    color: black;
    border-style: none;

}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content button:hover
{
    background-color: black;
    color: white;

}

#sound_btn
{
    
    position: fixed;
    right: 0;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-image: url(audio-on.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}